# Core Framework & API
fastapi==0.135.3
uvicorn==0.44.0
python-multipart

# AI Models & Audio Processing
torch==2.11.0
transformers==5.5.1
librosa==0.11.0
soundfile==0.13.1
numpy==2.4.4

# Alignment & Text-to-Phoneme
g2p-en==2.1.0
Levenshtein==0.27.3

# Evaluation & Data splits (dành riêng cho các scripts file)
datasets==4.8.4
evaluate==0.4.6
jiwer==4.0.0
TextGrid==1.6.1
